ctags:
  bin: /usr/bin/ctags

logging:
  level: DEBUG
  log_destination: STDERR
# log_destination: /var/log/rctags-watcher.log

projects:
  project1:
    path: /var/project1
    recursive: true
#   tags_filename: tags
    pattern: *
#   pattern: *.rb, *.py, *.php
